@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary: #d3d6dd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
.container {
  height: 60vh;
  width: 100vw;
}
.to-do-list {
  height: auto;
  width: 50%;
  background-color: var(--primary);
  padding: 11px 23px 11px;
}
.card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  height: 95%;
}

.input-field-wrapper {
  width: 100%;
  background-color: #d9dde3;
  border-radius: 4px;
  height: 25%;
  margin: 0 auto;
  padding: 4px 12px 4px;
}

.input-field-wrapper > i {
  font-size: x-large;
  margin: 7px 0px;
  /* visibility: hidden; */
}

.fa-plus{
  visibility: hidden;
}

input[type="text"] {
  width: 84%;
  background-color: yellow;
  height: 90%;
  margin: 0px 10px;
  font-size: large;
  border: transparent;
  background-color: transparent;
}

input[type="text"]:focus {
  outline: none;
}

.text-wrapper {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 5% 20% 75%;
}

/* main  section*/
main > ul li{
  margin: 15px 0px;
  display: grid;
   grid-template-columns: 6% 89% 5%;
}
/* Footer */

.footer-wrapper{
  border-top:1px solid var(--primary);
  display: grid;
  grid-template-columns: 5% auto 5% 15% 15%;
  padding: 4px 0px;
}

